<h1>Followed artists</h1>
<% followedArtists.forEach((artist) => { %>
    <a href="<%=artist.external_urls.spotify %>" >
    <%= artist.name %>
    </a>
    <br>
    <a href="/spotify/findlisteners?artist=<%=artist.id%>">Map this artists listeners!</a>
    <br>
<%}); %>