<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
            crossorigin=""
        />
        <script
            src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""
        ></script>
        <title>Document</title>
        <style>
            #map {
                height: 98vh;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
            console.log('MAP CONSOLE LOG');

            var map = L.map('map').setView([43, -107], 5);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap',
            }).addTo(map);

            // Configure popups for each feature
            // Show the city name and number of listeners (add thousandths separator)
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.city && feature.properties.listeners) {
                    layer.bindPopup('<h3>' + feature.properties.city + '<br>' + feature.properties.listeners.toLocaleString() + ' Listeners</h3>');
                }
            }

            const topCities = <%- JSON.stringify( topCities ) %>;
            console.log('TOP CITIES', topCities);

            L.geoJSON(topCities, { onEachFeature }).addTo(map);
        </script>
    </body>
</html>
