<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
            crossorigin=""
        />
        <script
            src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""
        ></script>

        <script src="../public/heatmap.js"></script>
        <script src="../public/leaflet-heatmap.js"></script>

        <title>Document</title>
        <style>
            #map {
                height: 98vh;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script>
            console.log('MAP CONSOLE LOG');

            var map = L.map('map').setView([0, 0], 3);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap',
            }).addTo(map);

            // Configure popups for each feature
            // Show the city name and number of listeners (add thousandths separator)
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.city && feature.properties.listeners) {
                    layer.bindPopup('<h3>' + feature.properties.city + '<br>' + feature.properties.listeners.toLocaleString() + ' Listeners</h3>');
                }
            }

            const topCities = <%- JSON.stringify( topCities ) %>;
            console.log('TOP CITIES', topCities);

            L.geoJSON(topCities, { onEachFeature }).addTo(map);

            let heatmapData = {
                data: topCities.features.map((city) => {

                return { lat: city.geometry.coordinates[1],
                         lng: city.geometry.coordinates[0],
                         count: city.properties.listeners }
            })
        }

        let maxListeners = Math.max(...heatmapData.data.map(d => d.count))
        heatmapData.max = maxListeners


            console.log('topCitiesHeatFormat', heatmapData)

            var cfg = {
            // radius should be small ONLY if scaleRadius is true (or small radius is intended)
            // if scaleRadius is false it will be the constant radius used in pixels
            "radius": 6,
            "maxOpacity": .8,
            // scales the radius based on map zoom
            "scaleRadius": true,
            // if set to false the heatmap uses the global maximum for colorization
            // if activated: uses the data maximum within the current map boundaries
            //   (there will always be a red spot with useLocalExtremas true)
            "useLocalExtrema": true,
            // which field name in your data represents the latitude - default "lat"
            latField: 'lat',
            // which field name in your data represents the longitude - default "lng"
            lngField: 'lng',
            // which field name in your data represents the data value - default "value"
            valueField: 'count'
            };

            let heatmapLayer = new HeatmapOverlay(cfg).addTo(map);
            heatmapLayer.setData(heatmapData);

        </script>
    </body>
</html>
